<div>
    <div class="center">

        <button class="btn-start" *ngIf="this.isStartButtonVisible" (click)="start()"
            mat-raised-button>{{btnStart}}</button>

        <button type="button" *ngIf="this.isStopButtonVisible" class="btn-start btn btn-primary" (click)="stop()"
            data-bs-toggle="modal" data-bs-target="#exampleModal">
            {{btnStop}}
        </button>

        <form [formGroup]="projectForm">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Stop timer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <span>Project name </span>
                            <input class="form-control" [formControl]="projectForm.name" maxlength="50" type="text" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                (click)="StopTimer()">Stop timer</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="!isLoading">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Start</th>
                    <th scope="col">Stop</th>
                    <th scope="col">Duration(sec)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of projects;let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.start}}</td>
                    <td>{{item.end}}</td>
                    <td>{{item.duration}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>